.register-form-container {
  display: grid;
  grid-template-rows: auto;
  place-items: center;
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;
}

form {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  place-items: center;
  gap: 10px;
}

.register-header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  text-align: center;
}

img {
 margin-left: 10px;
}

section + section {
  margin: 10px 0px 10px 0px;
  text-align: start;
}

button {
  width: 100px;
  border: black 2px solid;
  border-radius: 25px;
  background-color: #ffffff;
  padding: 10px;
  font-weight: 400;
}

button:active {
  background-color: #d0d0d0;
}